@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

body {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  background-repeat: repeat;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.search-form input {
  display: block;
  width: 350px;
  height: 35px;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 400;

  &::placeholder {
    font-size: 18px;
    font-weight: 400;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 15px 0 0;

  &-item {
    margin-bottom: 30px;
    list-style: none;
    cursor: zoom-in;
  }
}

.photo-card {
  position: relative;
  transition: all 400ms 0s ease-in-out;
  -webkit-box-shadow: 7px 7px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 7px 7px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 7px 7px 5px -5px rgba(34, 60, 80, 0.6);

  &:hover {
    -webkit-box-shadow: 12px 12px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 12px 12px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 12px 12px 5px -5px rgba(34, 60, 80, 0.6);
    transform: translate(-5px, -5px);
    transition: all 400ms 0s ease-in-out;
  }
}

.stats {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(25, 212, 230, 0.5018382352941176) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  &-item {
    display: flex;
    margin: 0;
  }

  &-value {
    display: inline-block;
    margin: auto 0 auto 5px;
    font-weight: bold;
  }
}

.material-icons {
  display: inline-block;
  margin: auto 0;
}

.load-more-button {
  display: block;
  width: 120px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(65, 212, 139);
  border: 0;
  border-radius: 25px;
  outline: none;
  transition: all 400ms 0s ease-in-out;

  &:hover {
    background-color: rgba(197, 42, 235, 0.431);
    transition: all 400ms 0s ease-in-out;
  }
}

.btn-primary {
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  position: sticky;
  display: flex;
  width: 105px;
  float: right;
  bottom: 20px;
}

.button-container button {
  display: flex;
  align-items: center;
}

.hide-button {
  display: none;
}

.up-button,
.down-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 400ms 0s ease-in-out;

  &:hover,
  &:hover {
    transition: all 400ms 0s ease-in-out;
  }
}

.up-button {
  margin-right: 5px;
}
